<div class="form_search">
  <h1><%= t "layouts.form_search.title" %></h1>
  <div id="search_travel" class="row">
    <%= form_tag search_path, method: :get, remote: true do %>
      <div class="col-md-6">
        <label for="place_form"><%= t "travel.tour.place_form" %></label>
          <%= select_tag(:place_form,
            options_for_select(places_for_select_box),
            {include_blank: t("travel.tour.place_form"), class: "form-control"})%>
      </div>
      <div class="col-md-6">
        <label for="place_to"><%= t "travel.tour.place_to" %></label>
          <%= select_tag(:place_to,
            options_for_select(places_for_select_box),
            {include_blank: t("travel.tour.place_to"), class: "form-control"})%>
      </div>
      <div class="col-md-6">
        <label for="sel1"><%= t "travel.tour.price" %></label>
        <%= select_tag :price,
          options_for_select(Settings.search_price.map{|key,value| [t("price.#{key}"),value]}),
          {include_blank: t("travel.tour.price"), class: "form-control"} %>
      </div>
      <div class="col-md-6">
        <label for="sel1"><%= t "layouts.form_search.date_of_departure" %></label>
        <%= date_field_tag :date_of_departure,
          params[:date_of_departure], class: "form-control datepicker" %>
      </div>
      <div class="button_wrapper" >
        <%= submit_tag t("layouts.form_search.btn_search"),
          class: "btn btn-primary margin_top_20" %>
      </div>
    <% end %>
  </div>
</div>
