<div class="col-md-4 visit-grid">
  <div class="item-1 item-type-spin">
    <div class="item-img">
      <%= image_tag travel.images.first.picture.url, class: "img-responsive" %>
    </div>
  </div>
  <h4><%= link_to travel.name, "#" %></h4>
  <div class="visit-blog">
    <div class="visit-btn">
      <%= rating_for travel, "rating", disable_after_rate: false %>
    </div>
    <div class="visit-likes">
      <span><%= t "tour_duration" %>: <%= travel.tour_duration %></span>
    </div>
  </div>
  <div class="clearfix"> </div>
</div>
