<div class="travels">
  <div class="visit-main">
    <div class="visit-top">
      <h3><%= t ".travel" %></h3>
      <span class="lft-bar-visit"> </span>
      <span class="rit-bar-visit"> </span>
    </div>
    <%= will_paginate @travels, class: "paginate-center" %>
    <div class="visit-bottom">
      <%= render @travels %>
      <div class="clearfix"> </div>
    </div>
    <%= will_paginate @travels, class: "paginate-center" %>
  </div>
</div>

<%= javascript_include_tag "/assets/rating/custom_rating.js", "data-turbolinks-track" => "reload"%>
