<div class="row">
  <h1><%=  yield(:header) %></h1>
  <div class="col-md-6 col-md-offset-3">

    <%= form_for @user, url: signup_path do |f| %>
      <%= render "shared/error_messages" %>

      <div class="required">
        <%= f.label t("users.name") %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="required">
        <%= f.label t("users.email") %>
        <%= f.email_field :email, class: "form-control" %>
      </div>

      <div class="required">
        <%= f.label t("users.password") %>
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <div class="required">
        <%= f.label t("users.password_confirmation") %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>

      <div class="required">
        <%= f.label t("users.address") %>
        <%= f.text_field :address, class: "form-control" %>
      </div>

      <div class="required">
        <%= f.label t("users.telphone") %>
        <%= f.text_field :telphone, class: "form-control" %>
      </div>

      <%= f.label t("users.avatar") %>
      <%= f.file_field :avatar, accept: "image/jpeg,image/gif,image/png",
        class: "form-control" %>

      <div class="button_wrapper" >
        <%= f.submit yield(:button_text),
          class: "btn btn-primary margin_top_20" %>
      </div>

    <% end %>
  </div>
</div>
