<header>
  <div class="navbar navbar-default navbar-static-top navbar-fixed-top custom-nav navbar-inverse">
    <div class="navbar-header">
    </div>
    <div class="navbar-collapse collapse ">
      <ul class="nav navbar-nav">
        <li><%= link_to t(".home"), root_path %></li>
        <li><%= link_to t(".help"), "#" %></li>
        <li><%= link_to t(".contact"), "#" %></li>
        <li><%= link_to t(".signup"), signup_path %></li>
        <li><%= link_to t(".login"), "#" %></li>
        <li><%= link_to t(".logout"), "#" %></li>
      </ul>
    </div>
  </div>
</header>
