<header>
  <div class="navbar navbar-default navbar-static-top navbar-fixed-top custom-nav navbar-inverse">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
        data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse navbar-margin" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><%= link_to t(".home"), root_path %></li>
        <% if user_signed_in? && !current_user.admin? %>
          <li>
            <%= link_to t(".book_tour"), user_book_tours_path(current_user) %>
          </li>
        <% elsif user_signed_in? && current_user.admin? %>
          <li>
            <%= link_to t(".book_tour_admin"), admin_book_tours_path %>
          </li>
          <li>
            <%= link_to t(".new_travel"), admin_book_tours_path %>
          </li>
        <% end %>
        <li>
          <%= link_to t(".help"), "#" unless user_signed_in? && current_user.admin? %>
        </li>
        <li>
          <%= link_to t(".contact"), "#" unless user_signed_in? && current_user.admin? %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= image_tag current_user.avatar.url,
              size: Settings.user.avatar_size_display%>
              <%= current_user.name %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t("layouts.header.profile"), current_user %></li>
              <li class="divider"></li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="glyphicon glyphicon-log-out"></i>
                  <%= t ".logout" %>
                <% end %>
              </li>
            </ul>
          </li>
        <% else %>
          <li>
            <%= link_to new_user_registration_path do %>
              <i class="glyphicon glyphicon-user"></i>
              <%= t ".signup" %>
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path do %>
              <i class="glyphicon glyphicon-log-in"></i>
              <%= t ".login" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
